<p>
  This project was created as a learning process for me, focusing on developing
  an application that is centered around logic based on a deep learning model.
  <br />
  However, while the core component is a machine learning model, the project's
  goal is to impart real-world knowledge and best practices in building and
  automating software projects.
</p>

<h1>The learning process and the creation of the application</h1>
<p>This process is illustrated through the following roadmap:</p>
<img
  src="https://github.com/mhornstein/DK-NLP/blob/main/docs/pics/illustrations/roadmap.png?raw=true"
  width="1000"
  alt="Project Roadmap"
/>

<h1>Technologies and Tools</h1>
<p>
  Here is a visual summary of all the technologies and tools that I met and used
  along the way:
</p>
<img
  src="https://github.com/mhornstein/DK-NLP/blob/main/docs/pics/illustrations/techAndTools.PNG?raw=true"
  width="1000"
  alt="Technologies and Tools"
/>

<h1>Source Code and Additional Details</h1>
<p>
  To explore the source code and obtain comprehensive information about the
  project, refer to the
  <a href="https://github.com/mhornstein/DK-NLP/tree/main"
    >project GitHub page</a
  >.
  <br />
  For further insights about my professional background and experience, please
  visit my
  <a href="https://www.linkedin.com/in/maor-hornstein-722ab846"
    >LinkedIn profile</a
  >.
</p>
<img
  src="https://github.com/mhornstein/DK-NLP/blob/main/docs/pics/illustrations/goodbye.png?raw=true"
  width="100"
  alt="goodbye"
/>
