table {
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin: 0 auto;
  
    th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ccc;
    }
  
    th {
      background-color: #ff5733;
      color: white;
    }
  
    td {
      color: black;
    }
  }

.reload-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.reload-button:hover {
  background-color: #0056b3;
}
