<div class="menu-bar">
  <ul>
    <li><a routerLink="/tagger">Tagger</a></li>
    <li><a routerLink="/history" routerLinkActive="active">History</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</div>

<div class="container">
  <h2>Resently tagged Sentences</h2>
  <div class="radio-buttons">
    <label>
      <input
        type="radio"
        name="tag-type"
        [(ngModel)]="tagType"
        [value]="'pos'"
        (ngModelChange)="loadHistory()"
      />
      Part of Speech
    </label>
    <label>
      <input
        type="radio"
        name="tag-type"
        [(ngModel)]="tagType"
        [value]="'ner'"
        (ngModelChange)="loadHistory()"
      />
      Named Entity Recognition
    </label>
  </div>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th style="width: 100%">Sentence</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sentence of historyDataDict[tagType]">
        <td style="white-space: nowrap">
          {{ sentence.date | date: 'yyyy-MM-dd HH:mm:ss' }}
        </td>
        <td>
          <span *ngFor="let item of sentence.tagged_sentence">
            <span style="color: #ff5733">{{ item[1] + ' ' }}</span>
            <span style="color: black">{{ item[0] + ' ' }}</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <button
    class="reload-button"
    (click)="reloadHistory()"
    [disabled]="buttonDisabled[tagType]"
  >
    Load more
  </button>
</div>
